/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(228, 81%, 49%);
    --title-color: hsl(228, 12%, 15%);
    --text-color: hsl(228, 8%, 50%);
    --body-color: hsl(228, 100%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --normal-font-size: 1rem;
    }
}